@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: white;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  width: 100px;
  margin-left: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Add shadow for elegance */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Add transition for smoothness */
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.167); /* Change background color to transparent white */
  backdrop-filter: blur(10px);
  transition: ease-in 0.2s;
}

.navbar.scrolled .navbar__category {
  color: #ffffff;
  transition: ease-in 0.4s; /* Change color of navigation links to white */
}

.navbar__left h1 {
  margin: 0;
  font-size: 24px; /* Adjust font size */
  color: #333333; /* Adjust text color */
  text-transform: uppercase; /* Convert text to uppercase */
}

.navbar__right {
  display: flex; /* Change display to flex */
  align-items: center;
}

.navbar__categories {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Change display to flex */
}

.navbar__category {
  margin-right: 50px; /* Adjust margin */
  cursor: pointer;
  font-size: 18px; /* Adjust font size */
  color: #333333; /* Adjust text color */
  transition: color 0.1s ease; /* Add transition for smoothness */
}

.navbar__category:hover {
  color: #45ff67; /* Change text color on hover */
}
.navbar.scrolled .navbar__category:hover {
  color: #45ff67; /* Change text color on hover */
}

.active {
  text-decoration: underline;
  color: #45ff67;
}



/* Footer CSS  */

.Footer{
  color: black;
}